{
"clientID"            : "qwertyuiop",
"clientSecret"        : "qwertyuiop",
"consumerKey"         : "qwertyuiop",
"consumerSecret"      : "qwertyuiop",
"clientID_google"     : "qwertyuiop",
"clientSecret_google" : "qwertyuiop"
}
